---
import EpisodeLayout from "../layouts/EpisodeLayout.astro";
import astropodConfig from "../../.astropod/astropod.config.json";

let updatedDescription = astropodConfig.description.replace(/(https?:\/\/[^\s]+)/g, '<a href="$1" target="_blank">$1</a>');
---

<EpisodeLayout title="About" description={astropodConfig.description} cover={astropodConfig.cover}>  
  <div set:html={updatedDescription.split('\n').map(line => `<p>${line}</p>`)}></div>
  <p><a href="https://themilkroad.beehiiv.com/subscribe?ref=8uyY3mPaVm" target="_blank">Join The Milk Road newsletter</a> for daily crypto clarity and laughs, and earn exclusive swag by sharing with friends! Your gateway to navigating crypto in under 5 minutes a day.</p>
  <p>Online shopping from a great selection at Kindle Book Deals Store. <a href="https://amzn.to/3T8wh8y" target="_blank">https://amzn.to/3T8wh8y</a></p>
</EpisodeLayout>
